<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />

    <title>Hello, world!</title>
  </head>
  <body>
    <nav>
      <p class="bars" id="bars">
        <i class="fa fa-bars"></i>
      </p>
      <label class="logo"> <a href="/">Bloggerz</a> </label>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">about</a></li>
        <% if(isLogin){ %>
        <li><a href="/user/addpost">Add post</a></li>
        <li><a href="/user/posts">All post</a></li>
        <li><a href="/auth/logout" class="but-prime">Logout</a></li>
        <% }else{ %>
        <li><a href="/auth/login" class="but-prime">Login</a></li>
        <li><a href="/auth/register" class="but-prime">signup</a></li>
        <% } %>
      </ul>
    </nav>
  </body>
</html>
