* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cabin Sketch", cursive;
  background: rgba(0, 0, 0, 0.822);
  color: aliceblue;
}
:root {
  --primary-theme: rgb(111, 13, 240);
}
/* body {
  background: #000;
} */
nav {
  height: 80px;
  background: var(--primary-theme);
  color: #000;
}
nav::after {
  content: ".";
  font-size: 0px;
  clear: both;
}
label.logo {
  line-height: 80px;
  font-size: 2rem;
  color: #fff;
  margin-left: 20px;
}
.logo a {
  color: #fff;
}
.logo a:hover {
  color: rgba(233, 219, 15, 0.787);
  text-decoration: none;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0px 20px;
}
nav ul li a {
  border-radius: 50px;
  text-transform: uppercase;
  color: #fff;
  padding: 20px 40px;
  transition: all 0.3s;
}
.bars {
  position: absolute;
  font-size: 2rem;
  color: #fff;
  right: 0;
  margin-right: 10px;
  line-height: 80px;
  display: none;
}
nav ul li a:hover,
nav ul li a:active {
  text-decoration: none;
  color: #fff;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 3px #20bf55;
  background: #000;
}
@media only screen and (max-width: 952px) {
  .bars {
    display: inline-block;
  }
  nav {
    top: 0;
    position: sticky;
    z-index: 50;
  }
  nav ul {
    z-index: 100;
    height: 100vh;
    width: 100vw;
    background: rgb(58, 44, 44);
    position: fixed;
    top: 80px;
    left: -200%;
    transition: all 0.5s;
  }
  nav ul li {
    text-align: center;
    display: block;
  }
  /* nav ul li a {
    font-size: 20px;
    width: 100%;
    text-decoration: none;
    padding: 20px 220px;
  } */
  nav ul li a:hover {
    border-radius: 50px;
    box-shadow: 0px 0px 0px 3px #20bf55;
    background: #000;
  }
}

.showNav {
  left: 0px;
}
.but-prime {
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  border-radius: 50px;
  padding: 20px 40px;
  transition: all 0.5s;
}
.but-prime:hover,
.but-prime:active {
  border-radius: 50px;
  box-shadow: 0px 0px 0px 3px #20bf55;
  background: #000;
}
.tit-1 {
  margin: 20px 0px;
}
.tit-1::after {
  margin-top: 5px;
  content: ".";
  font-size: 0px;
  display: block;
  width: 50%;
  height: 5px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: brown;
}
.card {
  color: black;
  box-shadow: 0 0px 0px 4px rgb(0, 0, 0);
  margin: 10px 0;
}

footer {
  padding: 40px;
  background: var(--primary-theme);
  color: white;
  text-align: center;
}
footer p {
  margin-top: 20px;
  font-size: 1.2rem;
}
footer span:first-child {
  color: red;
}
footer span a {
  color: #20bf55;
  padding: 10px;
}
footer span a:hover {
  color: #fff;
  text-decoration: none;
  background: rgb(58, 44, 44);
}

/* 404 styling */

.oops {
  height: 70vh;
}
.wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.oops h2 {
  font-size: 9rem;
}
.oops p {
  font-size: 3rem;
}
.oops a {
  padding: 20px 40px;
  font-size: 1.5rem;
  transition: all 0.5s;
}
.oops a:hover {
  text-decoration: none;
  color: #fff;
  background: rgb(58, 44, 44);
}

@media only screen and (max-width: 952px) {
  .oops {
    clear: both;
    position: relative;
    height: 100vh;
  }
  .oops h2 {
    margin-top: 150px;
  }
  .oops a {
    font-size: 1rem;
  }
}
.login-form {
  /* background: var(--primary-theme); */
  width: 340px;
  margin: 50px auto;
}
.login-form form {
  margin-bottom: 15px;
  background: var(--primary-theme);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form a {
  color: aliceblue;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control,
.btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {
  font-size: 15px;
  font-weight: bold;
}
.wrapper-2 {
  width: 100%;
  height: 70vh;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
