<%- include("./partcials/header.ejs") %>
<link
  href="https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap"
  rel="stylesheet"
/>
<div class="conrainer">
  <div class="oops">
    <div class="wrapper text-center">
      <h2>404</h2>
      <p>Page not Found!</p>
      <a href="/">Go Back to Home!</a>
    </div>
  </div>
</div>

<%- include("./partcials/footer.ejs") %>
